.features-lst {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  list-style: none;
  text-align: left;
}

.features-lst__item {
  position: relative;
  padding-bottom: 5px;
}

.features-lst__icon {
  position: absolute;
  top: 10px;
  left: -53px;
  fill: @bg_color-1;
  width: 40px;
}

.features-lst__item:nth-child(2) .features-lst__icon {
  top: 0;
}

.features__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.features__text {
  margin: 0;
  margin-bottom: 5px;
}

@media (min-width: @tablet-width) {
  .features-lst {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .features-lst__item {
    width: 255px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  .features-lst__icon {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: 75px;
  }

  .features-lst__item:nth-child(2) .features-lst__icon {
    width: 65px;
  }

  .features__text {
    width: 165px;
    margin: 0 auto;
    text-align: center;
  }

  .features-lst__item:nth-child(2) {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .features-lst__item {
    width: 400px;
    padding-bottom: 40px;
  }

  .features__text {
    width: 285px;
  }
}
