.figure {
  margin: 0;
  padding: 0;
  color: #fff;
}
.figure__content {
  padding-top: 67px;
  padding-bottom: 30px;
  background: @bg_color-1 url(../img/bg-triangle.svg) no-repeat top center;
}
.figure__img {
  margin-bottom: -3px;
}
.figure__content--option {
  padding-top: 30px;
  background-image: none;
}
.figure__headline {
  margin-bottom: 15px;
  font-size: @font_size + 2px;
  letter-spacing: 1.3px;
}
.figure__text {
  width: 265px;
  margin: 15px auto 15px;
}
