.gallery__wrapper {
  width: 280px;
  margin: 0 auto;
}
.gallery {
  padding-top: 27px;
}
.gallery__headline {
  margin-bottom: 26px;
}
.gallery__text {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: @line-height + 0.3;
}
.gallery__figure {
  margin: 0;
  padding: 20px 0;
  text-align: left;
}
.gallery__img {
  padding-bottom: 7px;
}
.gallery__title {
  margin-bottom: 8px;
  font-family: @font_bold;
  font-size: @font_size - 1px;
}
.gallery__author {
  margin-top: 0;
  text-transform: none;
}
.gallery__unit {
  padding-left: 35px;
  font-family: @font_bold;
}
