.page-ftr {
  padding-top: 32px;
  padding-bottom: 20px;
}

.page-ftr__wrapper {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0 auto;
}

.page-ftr__link {
  margin-bottom: 30px;
  font-family: @font_bold;
  font-size: @font_size + 7px;
}

.page-ftr__academy {
  position: relative;
  padding-right: 40px;
}

.page-ftr__academy-logo {
  position: absolute;
  top: -5px;
  right: 12px;
}

.page-ftr__academy-logo:hover,
.page-ftr__academy-logo:focus {
  fill: #81b3d2;
}

.page-ftr__academy-logo:active {
  fill: #b2b2b2;
}

@media (min-width: @tablet-width) {
  .page-ftr {
    clear: both;
    padding-top: 32px;
    padding-bottom: 36px;
  }

  .page-ftr__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 650px;
  }

  .page-ftr__link {
    margin: 0;
  }

  .page-ftr__academy {
    margin: 0;
  }

  .page-ftr__academy-logo {
    right: 3px;
  }
}

@media (min-width: @desktop-width) {
  .page-ftr__wrapper {
    width: 960px;
  }
}
