.page-hdr__logo {
  position: relative;
  top: 30px;
}
@media (min-width: @tablet-width) {
  .page-hdr__logo {
    top: 0;
    position: absolute;
    left: 334px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__close {
    display: none;
  }
}
