.page-ftr {
  padding-top: 37px;
  padding-bottom: 35px;
}
.page-ftr__wrapper {
  width: 150px;
  margin: 0 auto;
}
.page-ftr__link {
  font-family: @font_bold;
  font-size: @font_size + 7px;
}
.page-ftr__academy-logo {
  position: relative;
  top: 15px;
  left: 5px;
}
