.remain-lst {
  margin: 0;
  padding: 0;
  list-style: none;
}
.remain-lst__item {
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 1px solid #d6d6d6;
}
.remain-lst__item:last-child {
  border-bottom: none;
}
.remain__title {
  margin-top: 0;
}
.remain__text {
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
}
