.social-lst {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
}

.social-lst__item {
  display: inline-block;
  vertical-align: middle;

  a {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    margin-right: 3px;
    padding-top: 15px;
    font-size: 0;
    background: @bg_color-1;
    box-sizing: border-box;
  }

  a svg {
    fill: #ffffff;
  }

  a:hover,
  a:focus {
    background-color: #669ec0;
  }

  a:active {
    background-color: #5496bd;
  }

  a:active svg {
    fill: #88b6d1;
  }
}

.social-lst__item:last-child {
  a {
    margin-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .social-lst {
    margin: 0;
  }

  .social-lst__item {
    line-height: 0;
  }
}
