@import "page-hdr";
@import "page-main";
@import "page-ftr";
@import "advantages";
@import "figure";
@import "features";
@import "remain";
@import "gallery";
@import "main-nav";
@import "menu-lst";
@import "features-lst";
@import "remain-lst";
@import "social-lst";

@font-face     {
  font-family: "PT Sans";
  src:
  local("PT Sans"),
  url("../fonts/ptsans.woff2") format("woff2");
}

@font-face     {
  font-family: "PT Sans Bold";
  src:
  local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2");
}

@bg_color-1: #81b3d2;
@bg_color-2: #eee;
@font_size: 14px;
@font_bold: "PT Sans Bold";

body {
  width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: @font_size;
}

