@import "page-hdr";
@import "page-main";
@import "page-ftr";
@import "advantages";
@import "figure";
@import "features";
@import "remain";
@import "gallery";
@import "main-nav";
@import "menu-lst";
@import "features-lst";
@import "remain-lst";
@import "social-lst";

@font-face     {
  font-family: "PT Sans";
  src:
  local("PT Sans"),
  url("../fonts/ptsans.woff2") format("woff2");
}

@font-face     {
  font-family: "PT Sans Bold";
  src:
  local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2");
}
